{% extends 'user/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}
{% block content %}

{% comment %} {% for message in messages %}
<script>
	window.alert("Password doen't match")
</script>
{% endfor %} {% endcomment %}
<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url('{% static 'assets/images/breadcrumb/0.breadcrumb-bg.jpg' %}');">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">Harmony Events</span>
									<h2 class="big-title"> <strong>Login</strong> Page</h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"> <a href="{% url 'login' %}" aria-current="page">Login</a></li>
										<li class="breadcrumb-item active"><a href="{% url 'register' %}" class="breadcrumb-link">Register</a></li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->



		<!-- Show Error Message-->
		 {% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
			<strong>Oops !!</strong> {{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span> 
			</button>
		</div>
		{% endfor %}
		<!-- Message area - end 
		================================================== -->




		<!-- contact-section - start
		================================================== -->
		<section id="contact-section" class="contact-section sec-ptb-100 clearfix">
			<div class="container">

				<!-- section-title - start -->
				<div class="section-title mb-50">
					<small class="sub-title">Account Login</small>
					<h5 class="big-title">Login to our website, or <strong><a href="{% url 'register' %}">REGISTER</strong></a></h5>
				</div>
				<!-- section-title - end -->

				<!-- contact-form - start -->
                

				<div class="contact-form form-wrapper text-center m-50">
					<form action="{% url 'handle_login' %}" method="post">
                        {% csrf_token %}
						<div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
								<div class="form-item">
									<input name="username" type="text" placeholder="Username" required>
								</div>
							</div> 
                            
                            
                            <div class="col-lg-12 col-md-12 col-sm-12">
								<div class="form-item">
									<input name="pass" type="password" placeholder="Password" required>
								</div>
							</div> 

                            <h6><a href={% url "password_reset" %} class="site-link" style="padding-left:30px"> Forgot Password ?</a></h6>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<button type="submit" class="custom-btn">Login</button>
							</div>	

						</div>
					</form>
				</div>
				<!-- contact-form - end -->

			</div>
		</section>
		<!-- contact-section - end
		================================================== -->

{% endblock content %}

