{% extends 'user/base.html' %}
{% load static %}
{% block title %}Events{% endblock title %}
{% block content %}

<style type="text/css">
.card {
    position: relative;
	margin-bottom:1%;
}

.card::after {
    position: absolute;
    top: 13px;
    right: -14px;
    padding: 0.5rem;
    width: 10rem;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

.card.approved::after {
    content: 'Approved';
    background: green;
}

.card.in-progress::after {
    content: 'In progress';
    background: #FF7214;
}
</style>
<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url('{% static 'assets/images/breadcrumb/0.breadcrumb-bg.jpg' %}');">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">harmoni events</span>
									<h2 class="big-title">event <strong>history</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="{% url 'index' %}" class="breadcrumb-link">Home</a></li>
										
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>





		<!-- event-section - start
		================================================== -->
		<section id="event-section" class="event-section bg-gray-light sec-ptb-100 clearfix">
			<div class="container">
				<div class="row justify-content-center">

					<!-- - start -->
					<div class="col-lg-10 col-md-12 col-sm-12">
						<div class="section-title mb-50">
                            <div class="row">
                                <div class="col-lg-8 col-md-12 col-sm-12">
                                    <h2 class="big-title"><strong>Past Events</strong></h2>
                                </div>
                            </div>
                        </div> 
						<div class="tab-content">
							<div id="list-style" class="tab-pane fade in active show"> 	
								<!-- event-item - start -->
								{% if registration %}
									{% for i in registration %}
										<form action="/event-details/{{i.event_id.slug}}" method='POST'>
										<div class="card {% if i.registration_status %}approved{% else %}in-progress{% endif %}">
										{% csrf_token %}
										<div class="event-list-item clearfix1">

											<!-- event-image - start -->
											<div class="event-image" style="padding-left:-10%;width: 250px;margin-right: -10;margin-right:-30;margin-right: -100px;">
												
												<img src="{{i.company_id.companyLogo_path.url}}" alt="Image_not_found" style="width:40%;height:40%">
											</div>
											<!-- event-image - end -->

											<!-- event-content - start -->
											<div class="event-content">
												<div class="event-title mb-15">
													<h3 class="title">
														{{i.company_id.name}}'s <br> <strong>{{i.event_id.event_name}}</strong>
													</h3>
													<i class="fas fa-map-marker-alt"></i>
													<span class="ticket-price yellow-color">Location - {{i.event_id.city_id}} , {{i.event_id.state_id}}</span>
													{% comment %} <span class="ticket-price yellow-color">Total Price Pool ₹{{i.total_price}}</span> {% endcomment %}
												</div>	
												<p class="discription-text mb-20 info-content">
													<h4><strong> Needed Category : </strong>
													
													{% for workhand in Event_Workhand %}	
														{% if workhand.event_id.id == i.event_id.id %}
															<small class="info-content">{{workhand.Workhand_category_id}}</small>
															{% if not forloop.last %},{% endif %}
														{% endif %}
													{% endfor %}
														
													</h4>
												</p>
												<div class="event-info-list ul-li clearfix">
													<ul>
														<li>
															<span class="icon">
																<i class="far fa-clock"></i>
															</span>
															<div class="info-content">
																<small>Date</small>
																<h3>{{i.event_id.start_datetime | date}}</h3>
															</div>
														</li>
														<li>
															<span class="icon">
																<i class="fas fa-ticket-alt"></i>
															</span>
															<div class="info-content">
																<small>Max Seats</small>
																<h3>{{i.event_id.total_workhand}} seats</h3>
															</div>
														</li>
														<li>
															<button href="" type="submit" class="tickets-details-btn" style="padding: 15px 75px;">
																see details
															</button>
														</li>
													</ul>
														
												</form>
												</div>
												
												</div>
											<!-- event-content - end -->
												</div>
											</div>
										<!-- event-item - end -->
									{% endfor %}
								{% else %}
								<section id="error-section" class="error-section sec-ptb-100 bg-gray-light clearfix">
									<div class="container">
										<div class="row justify-content-center">

											<!-- error-content - start -->
											<div class="col-lg-5 col-md-6 col-sm-12">
												<div class="icon">
													<i class="far fa-frown"></i>
												</div>
											</div>
											<!-- error-content - end -->

											<!-- error-content - start -->
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="error-content">
													<h2>Oops!!</h2>
													<h3>error - Event not found</h3>
													<p class="mb-30">something was wrong. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
													<a href="{% url 'index' %}" class="custom-btn">go back to home</a>
												</div>
											</div>
											<!-- error-content - end -->
											
										</div>
								</section>
								{% endif %}
								
								<div class="pagination ul-li clearfix">
									<ul>
										{% if registration.has_previous %}
										<li class="page-item prev-item">
											<a class="page-link" href="/history/?page={{registration.previous_page_number}}">Prev</a>
										</li>
										{% endif %}

										{% for n in totalPageList %}
											{% if n == currentPage %}
												<li class="page-item active"><a class="page-link" href="/history/?page={{n}}">{{n}}</a></li>
											{% else %}
												<li class="page-item"><a class="page-link" href="/history/?page={{n}}">{{n}}</a></li>
											{% endif %}
										{% endfor %}
										
										{% if registration.has_next %}
										<li class="page-item next-item">
											<a class="page-link" href="/history/?page={{registration.next_page_number}}">Next</a>
										</li>
										{% endif %}
									</ul>
								</div>
								

							</div>

						</div>
						</div>
					</div>
					<!-- - end -->
					
				</div>
			</div>
		</section>
		<!-- event-section - end
		================================================== -->

{% endblock content %}

